<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container  body-content">
<h1>Add Endangered Status</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Endangered Status</label>
        <input class="form-control" th:field="${endangeredStatus.name}" />
        <span th:errors="${endangeredStatus.name}" class="error"></span>
    </div>
    <input type="submit" value="Add EndangeredStatus" />
</form>

</body>
</html>