<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<p th:unless="${endangeredStatuses} and ${endangeredStatuses.size()}">no seeds!</p>

<div class="container body-content">
    <h2>Endangered Statuses</h2>
    <ul>
        <li th:each="endangeredStatus : ${endangeredStatuses}">
            <a th:href="@{'/endangeredStatuses/view/' + ${endangeredStatus.id}}" th:text="${endangeredStatus.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/endangeredStatuses/add'}">Add Endangered Statuses</a>

</div>

</body>
</html>