<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<p th:unless="${seedSources} and ${seedSources.size()}">no seeds!</p>

<div class="container body-content">
    <h2>Seed Sources</h2>
    <ul>
        <li th:each="seedSource : ${seedSources}">
            <a th:href="@{'/seedSources/view/' + ${seedSource.id}}" th:text="${seedSource.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/seedSources/add'}">Add Seed Sources</a>

</div>

</body>
</html>