<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container  body-content">
<h1 th:text="${'SeedSource: ' + seedSource.name}">Default Title</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="seed-listing">
    <p th:text="${'Name: ' + seedSource.name}"></p>
    <p> Seeds:
    <ul>
        <li th:each="seed : ${seedSource.seeds}">
            <a th:href="@{'/view/' + ${seed.id}}" th:text="${seed.name}"></a>
        </li>
    </ul>
    </p>
</div>
</body>
</html>