<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container body-content">

<nav th:replace="~{fragments :: page-header}"></nav>

<h1>Add Seed</h1>

<form method="post" style="max-width:600px;">
  <div class="form-group">
    <label th:for="name">Name</label>
    <input class="form-control" th:field="${seed.name}" />
    <span th:errors="${seed.name}" class="error"></span>
  </div>

  <div class="form-group">
    <label th:for="botanicalName">Botanical Names</label>
    <select name="botanicalNameId">
      <option th:each="botanicalName : ${botanicalNames}"
              th:text="${botanicalName.name}"
              th:value="${botanicalName.id}"></option>
    </select>
    <a th:href="@{'/botanicalNames/add'}">Add Botanical Names</a>
  </div>

  <div class="form-group">
    <label th:for="commonNames">Common Names</label>
    <th:block th:each="commonName : ${commonNames}">
      <input type="checkbox" name="commonNames" th:value="${commonName.id}">
      <label th:text="${commonName.name}"></label>
    </th:block>
    <a th:href="@{'/commonNames/add'}">Add Common Names</a>
  </div>

  <div class="form-group">
    <label th:for="endangeredStatuses">Endangered Statuses</label>
    <th:block th:each="endangeredStatus : ${endangeredStatuses}">
      <input type="checkbox" name="endangeredStatuses" th:value="${endangeredStatus.id}">
      <label th:text="${endangeredStatus.name}"></label>
    </th:block>
    <a th:href="@{'/endangeredStatuses/add'}">Add Endangered Statuses</a>
  </div>

  <div class="form-group">
    <label th:for="plantHardinessZones">Plant Hardiness Zones</label>
    <th:block th:each="plantHardinessZone : ${plantHardinessZones}">
      <input type="checkbox" name="plantHardinessZones" th:value="${plantHardinessZone.id}">
      <label th:text="${plantHardinessZone.name}"></label>
    </th:block>
    <a th:href="@{'/plantHardinessZones/add'}">Add Plant Hardiness Zones</a>
  </div>

  <div class="form-group">
    <label th:for="seedQuantities">Seed Quantities</label>
    <th:block th:each="seedQuantity : ${seedQuantities}">
      <input type="checkbox" name="seedQuantities" th:value="${seedQuantity.id}">
      <label th:text="${seedQuantity.name}"></label>
    </th:block>
    <a th:href="@{'/seedQuantities/add'}">Add Seed Quantity</a>
  </div>

  <div class="form-group">
    <label th:for="seedSources">Seed Sources</label>
    <th:block th:each="seedSource : ${seedSources}">
      <input type="checkbox" name="seedSources" th:value="${seedSource.id}">
      <label th:text="${seedSource.name}"></label>
    </th:block>
    <a th:href="@{'/seedSources/add'}">Add Seed Source</a>
  </div>

  <input type="submit" value="Add Seed" />
</form>

</body>
</html>