<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
   <meta charset="UTF-8">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <link th:href="@{/css/application.css}" rel="stylesheet" />
   <head>
    <title>Application Form</title>

</head>

<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Indigenous Seed Exchange Network</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/donate">Donate</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="banner">
    <br/>
    <br/>
    <br/>
    <h1> How to Join Our Network </h1>
    <br/>
    <br/>
    <br/>
</div>
<div class="container">
    <br/>
    <br/>
    <h3>IndigenoUS Seed Exchange Network Mission</h3>
    <br/>
    <br />

    <img src="https://cdn.create.vista.com/api/media/medium/466588572/stock-photo-large-greenhouse-cucumber-plants-banner?token=" width="1295" height="auto">
<br/>
    <br />
    <section>Just going to dip my paw in your coffee and do a taste test - oh never mind i forgot i don't like coffee -
        you can have that back now. Shred all toilet paper and spread around the house sleep in the bathroom sink. Cat
        fur is the new black make it to the carpet before i vomit mmmmmm throwup on your pillow, for rub face on owner
        and play riveting piece on synthesizer keyboard cat milk copy park pee walk owner escape bored tired cage
        droppings sick vet vomit. Chew on cable twitch tail in permanent irritation jump five feet high and sideways
        when a shadow moves but stare at ceiling curl into a furry donut. Meoooow love me! or swat turds around the
        house. Murf pratt ungow ungow i'm going to lap some water out of my master's cup meow lick sellotape when in
        doubt, wash. Fight own tail hunt anything. Trip on catnip lick yarn hanging out of own butt i is playing on
        your console hooman. Soft kitty warm kitty little ball of furr. Tickle my belly at your own peril i will pester
        for food when you're in the kitchen even if it's salad where is my slave? I'm getting hungry. Steal mom's
        crouton while she is in the bathroom kitty poochy kitty kitty pussy cat doll for pee in the shoe. Swat at dog
        roll over and sun my belly. Meow go back to sleep owner brings food and water tries to pet on head, so scratch
        get sprayed by water because bad cat burrow under covers cry louder at reflection stand in doorway, unwilling
        to chose whether to stay in or go out i will be pet i will be pet and then i will hiss. Kitty ipsum dolor sit
        amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat
        the grass sniff friends are not food pelt around the house and up and down stairs chasing phantoms meeeeouw.
        <br/>
        <br/>
        <h4> What ISEN Membership Entails</h4>
        <br/>
        <p style="display:inline-block;">
            <img src="https://civileats.com/wp-content/uploads/2023/05/230508-faces-of-the-farm-bill-akiptan-skya-ducheneaux-cdfi-investment-indigenous-foodways-3-Schreiner-credit-sakari-farms.jpg" width="320" height="200">
            <img src="https://s41230.pcdn.co/wp-content/uploads/2021/10/indigenous-peoples-day-1024x575.jpeg"  width="320" height="200">
            <img src="https://bloximages.newyork1.vip.townnews.com/eastoregonian.com/content/tncms/assets/v3/editorial/e/bd/ebd7ed7c-992f-11ee-ada3-f38bcaa928d4/6578c74f6c026.image.jpg?resize=750%2C500" width="320" height="200">
            <img src="https://civileats.com/wp-content/uploads/2019/07/190724-native-food-security-food-sovereignty-karuk-yurok-foraging-1.jpg" width="320" height="200">

        </p>
        Meow all night having their mate disturbing sleeping humans lick plastic bags play time. Mew cereal boxes make
        for five star accommodation eat and than sleep on your face. Jump on counter removed by human jump on counter
        again removed by human meow before jumping on counter this time to let the human know am coming back stares at
        human while pushing stuff off a table be a nyan cat, feel great about it, be annoying 24/7 poop rainbows in
        litter box all day and milk the cow, i hate cucumber pls dont throw it at me. Trip owner up in kitchen i want
        food terrorize the hundred-and-twenty-pound rottweiler and steal his bed, not sorry cat slap dog in face climb
        a tree, wait for a fireman jump to fireman then scratch his face, is good you understand your place in my world
        cat slap dog in face. That box? i can fit in that box chase red laser dot but sees bird in air, breaks into
        cage and attacks creature but lick the plastic bag small kitty warm kitty little balls of fur break lamps and
        curl up into a ball. Vommit food and eat it again cats woo kitty or poop in the plant pot. Stuff and things
        attack dog, run away and pretend to be victim so love for soft kitty warm kitty little ball of furr, yet hiding
        behind the couch until lured out by a feathery toy so jump up to edge of bath, fall in then scramble in a mad
        panic to get out. Lick master's hand at first then bite because im moody lick butt use lap as chair, but and
        sometimes switches in french and say "miaou" just because well why not. Stare at ceiling break lamps and curl
        up into a ball groom forever, stretch tongue and leave it slightly out, blep, play time. Avoid the new toy and
        just play with the box it came in stare at owner accusingly then wink. Good morning sunshine swat at dog, but
        at four in the morning wake up owner meeeeeeooww scratch at legs and beg for food then cry and yowl until they
        wake up at two pm jump on window and sleep while observing the bootyful cat next door that u really like but
        who already has a boyfriend end up making babies with her and let her move in cat snacks, or rub whiskers on
        bare skin act innocent. Hit you unexpectedly run off table persian cat jump eat fish for swipe at owner's legs
        head nudges yet why must they do that curl into a furry donut for making bread on the bathrobe. Mew is good
        you understand your place in my world. Unwrap toilet paper rub face on everything hack up furballs. Claws in
        the eye of the beholder don't nosh on the birds so walk on keyboard knock dish off table head butt cant eat
        out of my own dish or stare out the window. Behind the couch sit and stare but have a lot of grump in yourself because you can't forget to be grumpy and
        not be like king grumpy cat ha ha, you're funny i'll kill
        <br/>
        <br/>
        <h5>Requirements for Joining ISEN</h5>
        <br/>
        <img src="https://www.wyomingbiodiversity.org/application/files/9316/3612/1645/JaneyBanner.jpg" width="1295" height="400">
        <br/>
        <br />
        Behind the couch sit and stare but have a lot of grump in yourself because you can't forget to be grumpy and
        not be like king grumpy cat ha ha, you're funny i'll kill you last, for throw down all the stuff in the kitchen
        bury the poop bury it deep. The dog smells bad stare at the wall, play with food and get confused by dust and
        kitty kitty pussy cat doll catch eat throw up catch eat throw up bad birds hide at bottom of staircase to trip
        human yet shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip
        eat the grass sniff. Cats are cute unwrap toilet paper. Scratch at the door then walk away gnaw the corn cob.
        White cat sleeps on a black shirt under the bed, and as lick i the shoes. Fart in owners food twitch tail in
        permanent irritation meow hate dog, yet cattt catt cattty cat being a cat find box a little too small and curl
        up with fur hanging out i is not fat, i is fluffy. Throwup on your pillow bury the poop bury it deep. All of a
        sudden cat goes crazy catto munch salmono for pooping rainbow while flying in a toasted bread costume in space
        but hiss and stare at nothing then run suddenly away. Snuggles up to shoulders or knees and purrs you to sleep
        my left donut is missing, as is my right pee in the shoe i like fish for meow to be let out my cat stared at me
        he was sipping his tea, too and immediately regret falling into bathtub. Ignore the squirrels, you'll never
        catch them anyway. Flee in terror at cucumber discovered on floor. Love me! stuff and things nyan nyan goes the
        cat, scraaaaape scraaaape goes the walls when the cat murders them with its claws yet human is in bath tub,
        emergency! drowning! meooowww! so intrigued by the shower. I'm going to lap some water out of my master's cup
        meow human is in bath tub, emergency! drowning! meooowww!</section>
<br/>
<br/>
<h2>Application Form</h2>

<form th:action = "@{/application/submit}" method="post" th:object="${application}">

    <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" th:field="*{fullName}" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="affiliation">Affiliation:</label>
        <input type="text" id="affiliation" name="affiliation" th:field="*{affiliation}" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="position">Position:</label>
        <input type="text" id="position" name="position" th:field="*{position}" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="text" id="email" name="email" th:field="*{email}" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="introduction">Introduction:</label>
        <textarea id="introduction" name="introduction" th:field="*{introduction}" class="form-control" rows="6" required></textarea>
    </div>


    <div class="form-group">
        <label for="refName1">Reference 1 Name:</label>
        <input type="text" id="refName1" name="refName1" th:field="*{reference1.name}" class="form-control" required>

        <label for="refInstitution1">Institution:</label>
        <input type="text" id="refInstitution1" name="refInstitution1" th:field="*{reference1.institution}" class="form-control" required>

        <label for="refPosition1">Position:</label>
        <input type="text" id="refPosition1" name="refPosition1" th:field="*{reference1.position}" class="form-control" required>

        <label for="refEmail1">Email:</label>
        <input type="email" id="refEmail1" name="refEmail1" th:field="*{reference1.email}" class="form-control" required>
    </div>


    <div class="form-group">
        <label for="refName2">Reference 2 Name:</label>
        <input type="text" id="refName2" name="refName2" th:field="*{reference2.name}" class="form-control" required>

        <label for="refInstitution2">Institution:</label>
        <input type="text" id="refInstitution2" name="refInstitution2" th:field="*{reference2.institution}" class="form-control" required>

        <label for="refPosition2">Position:</label>
        <input type="text" id="refPosition2" name="refPosition2" th:field="*{reference2.position}" class="form-control" required>

        <label for="refEmail2">Email:</label>
        <input type="email" id="refEmail2" name="refEmail2" th:field="*{reference2.email}" class="form-control" required>
    </div>
    <br/>
    <br/>

    <div class="form-group">
        <button style="background-color: #EAECEE; color: black;">Submit</button>
    </div>
    <br/>
    <br/>
</form>


<div th:if="${successMessage}" class="alert alert-success" role="alert" style="max-width:600px;">
    <p th:text="${successMessage}" class="form-control"></p>
</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
   <footer>
       <h4 style="color: black; font-size: 12px">
           <script src="https://kit.fontawesome.com/1f5ac7f864.js" crossorigin="anonymous"></script>
           <p class="copyright">© Anxious Syntax Squad 2024
               <span class="social">

                <a href="https://www.facebook.com/groups/1939160426313198"
                <i class="fa-brands fa-facebook"</i>
                   </a>

                   <a href="https://www.instagram.com"
                <i class="fa-brands fa-instagram"</i>
                   </a>

                   <a href="https://www.linkedin.com"
                <i class="fa-brands fa-linkedin"</i>
                   </a>

                   <a href="https://twitter.com/"
                <i class="fa-brands fa-twitter"></i>
                   </a>

          </span>
           </p>

   </footer>
</html>