<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
</head>
<p th:replace="fragments::navbar"></p>
<div th:if="${blogs.size()} > 0">
    <th:block th:each="blog:${blogs}">
    <div th:fragment="blog">
        <h1 th:text="${blog.title}"></h1>
       <!-- <img th:src="${blog.imageFilePath}"/> -->
        <p th:text="${blog.author}"></p>
        <p th:text="${blog.content}"></p>
        <p th:text="${blog.time}"></p>
    </div>
    </th:block>
</div>
<p th:unless="${blogs.size()} > 0">No blogs found! (╯°□°）╯︵ ┻━┻ </p>

</body>
<!--<script src="https://kit.fontawesome.com/1f5ac7f864.js" crossorigin="anonymous"></script>
 <footer>
    <div class="footer-container">
        <a class="link footer-left"></a>
        <div class="footer-icons">
            <ul>
                <a href="https://www.facebook.com"
                    <i class="fa-brands fa-facebook"></i>>
                </a>

                <a href="https://www.instagram.com"
                    <i class="fa-brands fa-instagram"></i>
                ></a>

                <a href="https://www.linkedin.com"
                     <i class="fa-brands fa-linkedin"></i>
                ></a>
            </ul>

    <div class="copyright">
            2024 &copy by Anxious Syntax Squad
        </p>
    </div>
</footer> -->
</html>
