<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
</head>
<p th:replace="fragments::navbar"></p>
<div th:if="${blogs.size()} > 0">
    <th:block th:each="blog:${blogs}">
    <div th:fragment="blog">
        <h1 th:text="${blog.title}"></h1>
        <p th:text="${blog.author}"></p>
        <p th:text="${blog.content}"></p>
        <p th:text="${blog.time}"></p>
    </div>
    </th:block>
</div>
<p th:unless="${blogs.size()} > 0">No blogs found! (╯°□°）╯︵ ┻━┻ </p>

</body>
</html>