<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Accept a payment</title>
    <meta name="description" content="A demo of a payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/checkout.css" />
    <script src="https://js.stripe.com/v3/"></script>

    <script th:inline="javascript">

        /*<![CDATA[*/

        var publicKey = /*[[${publicKey}]]*/ null;
        var amount = /*[[${amount}]]*/ null;
        var email = /*[[${email}]]*/ null;
        var productName = /*[[${productName}]]*/ null;

        /*]]>*/
    </script>


    <script th:src="@{/js/checkout.js}" defer></script>


</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Indigenous Seed Exchange Network</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/application">Join Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/donate">Donate</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/dataBase">Data Base</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="banner">
    <br/>
    <br/>
    <br/>
    <h1 align="center"> Thank you for supporting IndigenoUS Seed Exchange Network! </h1>
    <br/>
    <br/>
    <br/>
</div>


<!-- Display a payment form -->
<form id="payment-form">
    <span>You are about to make a payment of: </span>
    <span th:text="*{amount}"></span>
    <span>USD</span>
    <br/>
    <br/>
    <div id="link-authentication-element">
        <!--Stripe.js injects the Link Authentication Element-->
    </div>

    <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
    </div>
    <br/>

    <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text; display: block; margin-left: auto; margin-right: auto; ">Pay now</span>
    </button>
    <div id="payment-message" class="hidden"></div>

</form>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>