 <!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />

    <title th:text="${title}"></title>
</head>

<center>
<body>
<p th:replace="fragments::navbar"></p>

    <h1> IndigenoUS Seed Exchange Network Blog </h1>
<!-- check your slashes, check your single ticks, has to be in order, wake up eyeballs mcgee -->
    <form th:action="@{'/blog/' + ${blog.id}} + '/edit'" th:object="${blog}" method="POST">
    <div th:if="${blog}">
            <div th:fragment="blog">
                <h2> <a th:href="@{'/blog/' + ${blog.id} + '/edit'}"
                        th:text="${blog.title}">Title</a>
                </h2>
                <p>Title</p>
                <p> <input type="text" name="Title" th:field="*{title}"/></p>
                <!-- <img th:src="${blog.imageFilePath}"/> -->
               <p>Author</p>
                <p> <input type="text" name="Author" th:field="*{author}"/></p>
                <p>Content</p>
                <p> <input type="text" name="Content" th:field="*{content}"/></p>
                <p th:text="${blog.time}"></p>

            </div>

        <input type="submit" value="Submit">
    </div>
    <p th:unless="${blog}">No blogs found! (╯°□°）╯︵ ┻━┻ </p>
    </form>
</body>
<footer>
    <script src="https://kit.fontawesome.com/1f5ac7f864.js" crossorigin="anonymous"></script>
    <div class="footer-container">
        <a class="link footer-left"></a>
        <div class="footer-icons">
            <ul>
                <a href="https://www.facebook.com"
                <i class="fa-brands fa-facebook"</i>
                </a>

                <a href="https://www.instagram.com"
                <i class="fa-brands fa-instagram"</i>
                </a>

                <a href="https://www.linkedin.com"
                <i class="fa-brands fa-linkedin"</i>
                </a>

                <a href="https://twitter.com/"
                <i class="fa-brands fa-twitter"></i>
                </a>
            </ul>

            <div class="copyright">
                2024 &copy by Anxious Syntax Squad
                </p>
            </div>
</footer>
</center>
</html>
