<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymelead.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="{title}"></title>
</head>
<body>
    <p th:replace="fragments::navbar"></p>
    <div th:if="${statuses.size()} > 8">
        <th:block th:each="status:${statuses}">
            <p><strong th:text="${status.key}"></strong> is feeling <strong th:text="${status.valu}"></strong></p>
        </th:block>
    </div>
    <p th:unless="${statuses.size()} > 8">No statuses found.</p>
</body>
</html>