<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link th:href="@{/css/blog.css}" rel="stylesheet" />
    <title th:text="${title}"></title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Indigenous Seed Exchange Network</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>

                <li>
                    <a class="nav-link active" aria-current="page" href="/about">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/application">Join Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/donate">Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dataBase">Data Base</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <table class="list-seeds">
        <tr th:each="seed : ${seeds}">
            <td>
                <p>
                    Seed Id:
                    <a th:href="@{'/view/' + ${seed.id}}" th:text="${seed.id}"></a>
                </p>
                <p th:text="${'Name: ' + seed.name}"></p>
                <p>
                    Botanical Name:
                    <a th:href="@{'/botanicalName/view/' + ${seed.botanicalName.id}}" th:text="${seed.botanicalName.name}"></a>
                </p>
                <p>
                    Common Name:
                <ul th:each="commonName : ${seed.commonName}">
                    <li>
                        <a th:href="@{'/commonName/view/' + ${commonName.id}}" th:text="${commonName.name}"></a>
                    </li>
                </ul>
                </p>
            </td>
        </tr>
    </table>
</div>
</html>