<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="seed-listing">
        <tr th:each="seed : ${seeds}">
            <td>
                <p>
                    Seed Id:
                    <a th:href="@{'/view/' + ${seed.id}}" th:text="${seed.id}"></a>
                </p>
                <p th:text="${'Name: ' + seed.name}"></p>
                <p>
                    Botanical Name:
                    <a th:href="@{'/botanicalNames/view/' + ${seed.botanicalName.id}}" th:text="${seed.botanicalName.name}"></a>
                </p>
                <p>
                    Common Name:
                <ul th:each="skill : ${seed.commonName}">
                    <li>
                        <a th:href="@{'/commonNames/view/' + ${commonName.id}}" th:text="${commonName.name}"></a>
                    </li>
                </ul>
                </p>
            </td>
        </tr>
    </table>

</div>

</body>
</html>