<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <script type="application/x-jsx" src="IndigenoUS_Seed_Exchange_Network/src/main/resources/static/js/Louis_functions/LoginButton.jsx">

    </script>

    <!--    had to use a cdn to access this bit of code- for some reason trying to do it locally-->
<!--    kept giving the error that the directory did not exist.-->
</head>
<body class="container">

<h2>Welcome to the Indigenous Seed Exchange Network</h2>

<button type="button" onclick="LoginButtonCall()">Login</button>
<script type="application/x-jsx" src="IndigenoUS_Seed_Exchange_Network/src/main/resources/static/js/Louis_functions/LoginButton.jsx"></script>


</body>
</html>
