<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body class="container">

<h2>Welcome to the Indigenous Seed Exchange Network</h2>

<form method="post" th:object="${user}" style="max-width:600px;">

    <div class="form-group">
        <label for="email">Email:
            <input type="email" id="email" name="email" th:field="*{email}" class="form-control" required>
        </label>
        <p class="error" th:errors="${user.email}"></p>
    </div>

    <div class="form-group">
        <label for="password">Password:
            <input type="password" id="password" name="password" th:field="*{password}" class="form-control" required>
        </label>
        <p class="error" th:errors="${user.password}"></p>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-success">Log In</button>
    </div>
</form>

</body>
</html>
