<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <script type="text/javascript" src="https://raw.githubusercontent.com/shokoladber/group-michael-1/Louis-branch-1/IndigenoUS_Seed_Exchange_Network/src/main/resources/static/js/Louis_functions/LoginButton.jsx" async="async"></script>
</head>
<body class="container">

<h2>Welcome to the Indigenous Seed Exchange Network</h2>

<input type="button" onclick="LoginButton" value="Display">
</body>
</html>
