<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<p th:replace="fragments::navbar"></p>
<br/>

<form method="post" enctype="multipart/form-data">
    <label>Title:
        <input type="text" th:field="${blog.title}">
        <span th:errors="${blog.title}"></span>
    </label>
    <br/>
    <label>Author:
        <input type="text" th:field="${blog.author}">
        <span th:errors="${blog.author}"></span>

        <br/>
        <br/>

        <!--  <input type="file" id="myFile" name="filename"> -->



        <br/>

    </label> Add Content:
    <br/>
    <textarea th:field="${blog.content}" cols="75" rows="50"></textarea>
    <span th:errors="${blog.content}"></span>
    </label>
    <br/>
    <br/>
    <input type="submit" value="Submit">
</form>

</body>