<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container  body-content">
<h1>Add Common Name</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Seed Quantity</label>
        <input class="form-control" th:field="${seedQuantity.name}" />
        <span th:errors="${seedQuantity.name}" class="error"></span>
    </div>
    <input type="submit" value="Add SeedQuantity" />
</form>

</body>
</html>