h1{
color: #FCFFF9;
font-weight: bold;
font-family: Ariel;
font-size: 95px
}
body {
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-attachment: local;
  overflow: auto;
}

div {

text-align:center;

}

.banner {
background: url('https://assets-global.website-files.com/5f6cc9cd16d59d990c8fca33/65247566436784a6ece45b49_native-american-food-soverignty.jpg');
width: 100%;
background-size: cover;
background-repeat: no-repeat;
}



footer{
    background-color: #74992e;
    text-align:center;
    position:absolute
    width:100%
    left:0px;
    bottom:0px;
    padding: 5px;

}