<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<p th:unless="${commonNames} and ${commonNames.size()}">no seeds!</p>

<div class="container body-content">
    <h2>Common Names</h2>
    <ul>
        <li th:each="commonName : ${commonNames}">
            <a th:href="@{'/commonNames/view/' + ${commonName.id}}" th:text="${commonName.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/commonNames/add'}">Add Common Names</a>

</div>

</body>
</html>