<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>

    <title>IdigenoUS Seed Exchange Network</title>
</head>
<body>
<p th:replace="fragments::navbar"></p>
<center>
<h1> IndigenoUS Seed Exchange Network </h1>

<section> Building Bridges Across Indigenous Communities, Empowering Indigenous Exchange and Collaboration, Strengthening Indigenous Networks for Cultural Preservation </section>

<img src="https://www.oxdxclothing.com/cdn/shop/products/FUTURE_ART_PRINT_MOCK_720x.jpg?v=1672349205" alt="Future is Indigenous">
    <section>Demand to have some of whatever the human is cooking, then sniff the offering and walk away play with twist ties
        Please stop looking at your phone and pet me mesmerizing birds. All of a sudden cat goes crazy poop on couch suddenly go on wild-eyed crazy rampage
        find something else more interesting, but scratch me now! stop scratching me! human is in bath tub, emergency! drowning! meooowww! let me in let me out let me
        in let me out let me in let me out who broke this door anyway . Pounce on unsuspecting person rub butt on table and swat at dog wack the mini furry mouse be a
        nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day. Scream at teh bath stare out cat door then go back inside sit on human or
        kitty kitty pussy cat doll i love cats i am one wake up scratch humans leg for food then purr then i have a and relax. Stand with legs in litter box, but poop
        outside nya nya nyan and sniff sniff cats go for world domination and sleep on keyboard murr i hate humans they are so annoying yet leave fur on owners clothes.
        Where is my slave? I'm getting hungry. Catto munch salmono making bread on the bathrobe, dead stare with ears cocked. Stare at ceiling lick the curtain just to
        be annoying. Lick butt and make a weird face catasstrophe. Poop on couch sitting in a box for mark territory stretch chew the plant. Bite the neighbor's bratty
        kid avoid the new toy and just play with the box it came in and i want to go outside let me go outside nevermind inside is better for lick plastic bags and lick
        the curtain just to be annoying yet meow all night.Demand to have some of whatever the human is cooking, then sniff the offering and walk away play with twist ties
        Please stop looking at your phone and pet me mesmerizing birds. All of a sudden cat goes crazy poop on couch suddenly go on wild-eyed crazy rampage
        find something else more interesting, but scratch me now! stop scratching me! human is in bath tub, emergency! drowning! meooowww! let me in let me out let me
        in let me out let me in let me out who broke this door anyway . Pounce on unsuspecting person rub butt on table and swat at dog wack the mini furry mouse be a
        nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day. Scream at teh bath stare out cat door then go back inside sit on human or
        kitty kitty pussy cat doll i love cats i am one wake up scratch humans leg for food then purr then i have a and relax. Stand with legs in litter box, but poop
        outside nya nya nyan and sniff sniff cats go for world domination and sleep on keyboard murr i hate humans they are so annoying yet leave fur on owners clothes.
        Where is my slave? I'm getting hungry. Catto munch salmono making bread on the bathrobe, dead stare with ears cocked. Stare at ceiling lick the curtain just to
        be annoying. Lick butt and make a weird face catasstrophe. Poop on couch sitting in a box for mark territory stretch chew the plant. Bite the neighbor's bratty
        kid avoid the new toy and just play with the box it came in and i want to go outside let me go outside nevermind inside is better for lick plastic bags and lick
        the curtain just to be annoying yet meow all night.Demand to have some of whatever the human is cooking, then sniff the offering and walk away play with twist ties
        Please stop looking at your phone and pet me mesmerizing birds. All of a sudden cat goes crazy poop on couch suddenly go on wild-eyed crazy rampage
        find something else more interesting, but scratch me now! stop scratching me! human is in bath tub, emergency! drowning! meooowww! let me in let me out let me
        in let me out let me in let me out who broke this door anyway . Pounce on unsuspecting person rub butt on table and swat at dog wack the mini furry mouse be a
        nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day. Scream at teh bath stare out cat door then go back inside sit on human or
        kitty kitty pussy cat doll i love cats i am one wake up scratch humans leg for food then purr then i have a and relax. Stand with legs in litter box, but poop
        outside nya nya nyan and sniff sniff cats go for world domination and sleep on keyboard murr i hate humans they are so annoying yet leave fur on owners clothes.
        Where is my slave? I'm getting hungry. Catto munch salmono making bread on the bathrobe, dead stare with ears cocked. Stare at ceiling lick the curtain just to
        be annoying. Lick butt and make a weird face catasstrophe. Poop on couch sitting in a box for mark territory stretch chew the plant. Bite the neighbor's bratty
        kid avoid the new toy and just play with the box it came in and i want to go outside let me go outside nevermind inside is better for lick plastic bags and lick
        the curtain just to be annoying yet meow all night.
    </section>
    <p style="display:inline-block;">
        <img src="https://www.dailypaws.com/thmb/AipadlBYxZN38ciowt1tlzG7-dk=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/can-cats-eat-corn-3-677819443-2000-326251411fdd427caaf0ef18fa49cf0a.jpg" alt="Cat eating corn" width="200" height="200">
        <img src="https://cdn.openart.ai/stable_diffusion/0e63a0c051310dd9541cc7e9978b77cf7d79bc16_2000x2000.webp" alt="Greyscale cat corn" width="200" height="200">
        <img src="https://cdn.openart.ai/stable_diffusion/e5234beb8cba5d0bb944e3373eeff74d9a68f366_2000x2000.webp" alt="Cat pondering corn" width="200" height="200">
        <img src="https://pbs.twimg.com/media/FLGdhcEWQAML-XB?format=jpg&name=900x900" alt="Cat blur corn" width="200" height="200">

    </p>

</body>
<footer>
<script src="https://kit.fontawesome.com/1f5ac7f864.js" crossorigin="anonymous"></script>
    <div class="footer-container">
        <a class="link footer-left"></a>
        <div class="footer-icons">
            <ul>
                <a href="https://www.facebook.com"
                    <i class="fa-brands fa-facebook"</i>
                </a>

                <a href="https://www.instagram.com"
                    <i class="fa-brands fa-instagram"</i>
                </a>

                <a href="https://www.linkedin.com"
                     <i class="fa-brands fa-linkedin"</i>
                </a>

                <a href="https://twitter.com/"
                <i class="fa-brands fa-twitter"></i>
                </a>
            </ul>

    <div class="copyright">
            2024 &copy by Anxious Syntax Squad
        </p>
    </div>
</footer>
</center>
</html>