<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container body-content">
<h2>Application Form</h2>

<nav th:replace="~{fragments :: page-header}"></nav>

<form method="post" style="max-width:600px;" th:action="@{/application}" th:object="${applicationForm}">
    <div class="form-group">
        <label th:for="fullName">Full Name</label>
        <input type="text" class="form-control" th:field="*{fullName}" required/>
        <span th:errors="${applicationForm.fullName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="email">Email</label>
        <input type="email" class="form-control" th:field="*{email}" required/>
        <span th:errors="${applicationForm.email}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" th:field="*{phoneNumber}" required/>
        <span th:errors="${applicationForm.phoneNumber}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="organization">Organization</label>
        <input type="text" class="form-control" th:field="*{organization}" required/>
        <span th:errors="${applicationForm.organization}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="message">Message</label>
        <textarea class="form-control" th:field="*{message}" required></textarea>
        <span th:errors="${applicationForm.message}" class="error"></span>
    </div>

    <button type="submit">Submit</button>
</form>

</body>
</html>


